# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE files
*.opensdf
*.sdf
*.suo
*.user

# Build folders
src/Debug/
src/s1/Debug/
src/tests/Debug/
src/otucha.html
src/otucha.js
src/rffalcon/Debug/
src/terasca/Debug/
src/otucha.dir/
*.depend
*.cmake
src/otuchaConfig.h
*.stamp
src/s1/s1.dir/
src/rffalcon/rffalcon.dir/
src/CMakeFiles/generate.stamp.list
src/CMakeFiles/cmake.check_cache
src/CMakeFiles/
src/terasca/terasca.dir/
src/CMakeCache.txt
src/Win32/
src/external/GLEW_1110.dir/
*.sln
*.vcxproj
*.filters
