[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "submodules/coveralls-cmake"]
	path = submodules/coveralls-cmake
	url = https://github.com/dpwolfe/coveralls-cmake.git
[submodule "submodules/freetype2"]
	path = submodules/freetype2
	url = https://github.com/cpp-mirrors/freetype2.git
[submodule "submodules/gmock"]
	path = submodules/gmock
	url = https://github.com/cpp-mirrors/gmock.git
[submodule "submodules/gtest"]
	path = submodules/gtest
	url = https://github.com/cpp-mirrors/gtest.git
[submodule "submodules/oglplus"]
	path = submodules/oglplus
	url = https://github.com/matus-chochlik/oglplus.git
[submodule "submodules/glew-cmake"]
	path = submodules/glew-cmake
	url = https://github.com/Perlmint/glew-cmake.git
[submodule "submodules/dejavu-fonts-release-latest"]
	path = submodules/dejavu-fonts-release-latest
	url = https://github.com/dpwolfe/dejavu-fonts-release-latest.git
